* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
input,
select,
textarea {
  font-size: 16px !important;
}

html {
  min-height: 100vh;

  scrollbar-gutter: stable;
}
body {
  background-color: #1b1b1d !important;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 80vh;
  padding: 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.chakra-modal__content-container {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
}

.blog {
  content-visibility: auto;
  contain-intrinsic-size: auto 600px;
}

.commentsList {
  content-visibility: auto;
  contain-intrinsic-size: auto 1000px;
}


::file-selector-button {
  color: white;
  background-color: black;
  border: 0;
  cursor: pointer;
}

.quill {
  width: 100%;
  border: none;
  background-color: transparent;
}

.ql-toolbar {
  background-color: #0c0c0e;
  border-color: transparent !important;
  border-bottom: 2px solid #1b1b1d !important;
}

.ql-container {
  background-color: #0c0c0e !important;
  background: #0c0c0e !important;
  border: 0 !important;
}

.ql-editor {
  background-color: #0c0c0e;
  min-height: 250px;
  max-height: 250px;
}

.ql-editor p {
  background-color: transparent;
}
.quill > .ql-container > .ql-editor.ql-blank::before {
  color: white;
  font-family: inherit;
  font-style: normal;
  font-size: 1rem;
}

strong {
  background-color: transparent;
}

.content code {
  font-family: Monaco, monospace; /* Use Monaco or a monospace font */
  background-color: #121212;
  color: #abb2bf; /* Text color */
  padding: 20px;
  overflow-x: auto; /* Enable horizontal scroll if needed */
  border: 1px solid #121212; /* Border */
  border-radius: 5px;
  line-height: 1.5;
}

.content h2 {
  padding: 20px 0;
  font-weight: bold;
}

.content h3 {
  padding: 10px;
}

.content img {
  padding: 20px 0;
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-width: 100%;
  height: auto;
}

a:hover {
  text-decoration: underline;
}
