* {
  margin: 0;
  padding: 0;
  background-color: #1b1b1d;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  background-color: #1b1b1d;
  scrollbar-gutter: stable;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 80vh;
  padding: 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.chakra-modal__content-container {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
}

.blog {
  content-visibility: auto;
  contain-intrinsic-size: auto 600px;
}

.commentsList {
  content-visibility: auto;
  contain-intrinsic-size: auto 1000px;
}
/* ::-webkit-scrollbar {
  display: none;
} */

section {
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    /* transform: rotateX(-10deg); */
  }

  to {
    opacity: 1;
    /* transform: rotateX(0); */
  }
}
