* {
  margin: 0;
  padding: 0;
  /* background-color: #101013; */
  /* background-color: #18181c; */
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

*:focus-visible {
  z-index: 1 !important;
  border-color: #fff !important;
  box-shadow: 0 0 0 1px #fff !important;
}
input,
select,
textarea {
  font-size: 16px !important;
}

html {
  scrollbar-gutter: stable;
}
body {
  height: 100vh !important;

  background-color: #121212 !important;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 80vh;
  padding: 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo {
  color: white !important;
  font-family: 'Source Sans Pro';
  letter-spacing: 2px;
  text-shadow:
    0 1px 0 hsl(174, 5%, 60%),
    0 1.5px 0 hsl(174, 5%, 60%),
    0 2px 0 hsl(174, 5%, 60%),
    0 2.5px 0 hsl(174, 5%, 60%),
    0 3px 0 hsl(174, 5%, 60%),
    /* 0 3.5px 0 hsl(174, 5%, 60%),
    0 4px 0 hsl(174, 5%, 60%), */ /* 0 4.5px 0 hsl(174, 5%, 60%); */ 0 4px 0
      hsl(174, 5%, 60%);
}

.chakra-modal__content-container {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.1); /* Black w/ opacity */
}

.blog {
  content-visibility: auto;
  contain-intrinsic-size: auto 600px;
}

.commentsList {
  content-visibility: auto;
  contain-intrinsic-size: auto 1000px;
}
/* ::-webkit-scrollbar {
  display: none;
} */

section {
}

@keyframes transitionIn {
  from {
    opacity: 0;
    /* transform: rotateX(-10deg); */
  }

  to {
    opacity: 1;
    /* transform: rotateX(0); */
  }
}

::file-selector-button {
  color: white;
  background-color: black;
  border: 0;
  cursor: pointer;
}

.quill {
  width: 100%;
  border: none;
  background-color: transparent;
}

.ql-toolbar {
  background-color: #060608;
  border-color: transparent !important;
  border-bottom: 2px solid #1b1b1d !important;
}

.ql-container {
  background-color: #060608 !important;
  background: #060608 !important;
  border: 0 !important;
}

.ql-editor {
  background-color: #060608;
  min-height: 200px;
  max-height: 200px;
}

.ql-editor p {
  background-color: transparent;
}
.quill > .ql-container > .ql-editor.ql-blank::before {
  color: white;
  font-family: inherit;
  font-style: normal;
  font-size: 1rem;
}

strong {
  background-color: transparent;
}

.content code {
  font-family: Monaco, monospace; /* Use Monaco or a monospace font */
  background-color: #121212;
  color: #abb2bf; /* Text color */
  padding: 20px;
  overflow-x: auto; /* Enable horizontal scroll if needed */
  border: 1px solid #121212; /* Border */
  border-radius: 5px;
  line-height: 1.5;
}

.content h2 {
  padding: 20px 0;
  font-weight: bold;
}

.content h3 {
  padding: 10px;
}

.content img {
  padding: 20px 0;
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-width: 100%;
  height: auto;
}

a:hover {
  text-decoration: underline;
}
